@use'../variables';

.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    border-radius: 6px;

    &--primary {
        color: variables.$textcolor2;
        background-color: variables.$degrade2;
        text-transform: uppercase;

        @media (max-width: 640px) {
            display: flex;
            width: 100%;
            align-items: center;
        }
    }
}